<div class="container pt-5">
	<div
		class="row">
		<!-- Carte de restaurant -->
		{% for restaurant in restaurants %}
			<div class="col-sm-6 col-md-4 d-flex align-items-stretch pb-3">
				<div class="card h-100">
					<img class="card-img-top" src="{{restaurant.url}}" alt="Image de restaurant 1">
					<div class="card-body d-flex flex-column">
						<h2 class="card-title mb-0">{{restaurant.name}}</h2>
						<p class="card-text mt-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewbox="0 0 16 16">
								<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
							</svg>
							{{restaurant.location}}</p>
						<p class="card-text">{{restaurant.description}}</p>
						<p class="card-text">Price :
							{{restaurant.price}}</p>
						<div class="d-flex justify-content-between mt-auto">
							<a href="#" class="btn btn-primary">En savoir plus</a>
							<a class="btn btn-primary" data-price="{{restaurant.price}}" onclick="addToTotal(this.getAttribute('data-price'))">Reserver</a>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
